pipelines:
  custom:
    default:
      - variables:
        - name: BROWSER
          default: firefox
          allowed-values:
            - chrome
            - chromium
            - firefox
            - msedge

      - step:
          name: Test
          image: harmin/qa-runner-debian:latest
          script:
            - export PATH=$PATH:$HOME/.local/bin
            - python3 -m venv ~/venv
            - . ~/venv/bin/activate
            - ./runner.sh --browser $BROWSER
            - ./serenity.sh --browser $BROWSER
            - CI_JOB_URL="https://bitbucket.org/${BITBUCKET_REPO_FULL_NAME}/pipelines/results/${BITBUCKET_BUILD_NUMBER}"
            - echo $CI_JOB_URL > reporting/allure-results/java/job.url
            - echo $CI_JOB_URL > reporting/allure-results/nodejs/job.url
            - echo $CI_JOB_URL > reporting/allure-results/python/job.url
          artifacts:
            - reporting/**

      - step:
          name: Report
          image: openjdk:8-jre
          script:
            - exit
            - curl https://github.com/allure-framework/allure2/releases/download/${ALLURE}/allure-${ALLURE}.zip -L -o /tmp/allure.zip
            - unzip /tmp/allure.zip -d /usr/local/
            - ln -s /usr/local/allure-${ALLURE}/bin/allure /usr/local/bin/allure
            - allure --version
            - ./allure.sh --browser $BROWSER
          artifacts:
            - reporting

      - step:
          name: Commit
          script:
            - exit
            - git config --global user.name "Bitbucket Pipeline"
            - git config --global user.email "bitbucket@bitbucket.org"
            - git clone https://x-token-auth:$TOKEN@bitbucket.org/harmin-parra/reports.git
            - cd reports
            - git rm -r report-*
            - mv ../reporting/report-* ./
            - mv ../reporting/allure-reports/report-* ./
            - git add *
            - git commit -m "Bitbucket Pipeline"
            - git push
