allure-behave==2.13.5
allure-pytest==2.13.5
allure-robotframework==2.13.5
behave==1.2.6
playwright==1.47.0
pytest
pytest-html==4.1.1
pytest-playwright==0.5.2
#pytest-webtest-extras==1.2.2
requests
robotframework==7.1
robotframework-browser==18.8.1
robotframework-seleniumlibrary==6.6.1
RESTinstance==1.4.4
selenium==4.24.0
